/* apply-from: https://www.w3schools.com/w3css/tryw3css_templates_coming_soon.htm */
* {
    box-sizing: border-box;
}

body {
    background: url("https://cdn.pixabay.com/photo/2018/01/21/01/34/tree-3095703_960_720.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    color: white;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    font-size: 2em;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 3em;
}

.subtitle {
    font-size: 1.5em;
}

.powered {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1rem;
    font-size: 1.25em;
}