nav {
    background-color: black;
    overflow: hidden;
}

.burger-menu {
    display: none;
}

.nav-item {
    color: white;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.25em;
}

.nav-item:hover {
    background: gray;
    color: black;
}

.nav-item.active {
    background-color: orange;
}

.left {
    float: left;
}

.right {
    float: right;
}

.dropdown {
    overflow: hidden;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a{
    float: none;
    color: black    ;
    padding: 16px 18px;
    text-decoration: none;
    display: block;
    font-size: 1.25em;
    text-align: left;
}

.dropdown-content a:hover{
    background: darkgray;
}

/* change color `dropdown nav-item` when hover on the some part of dropdown*/
.dropdown:hover .nav-item{
    background-color: gray;
    color: black;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* global effect when width <= 700px */
@media screen and (max-width: 700px){
    nav {
        position: relative;
    }

    .nav-item.left,
    .nav-item.right,
    .dropdown.left {
        float: none;
    }

    .dropdown-content {
        position: relative;
    }

    .nav-item, .dropdown {
        display: none;
    }

    .nav-item.active {
        display: block;
    }

    .burger-menu {
        float: right;
        display: block;
    }
}

/* when expanded menu in width <= 700px */
@media screen and (max-width: 700px) {
    .nav-expand .nav-item, .nav-expand .dropdown {
        display: block;
        text-align: left;
    }
}