body {
    margin: 0;
}

nav {
    background-color: black;
    overflow: hidden;
}

.jumbo {
    width: 100%;
    height: 400px;
    background: url("https://cdn.pixabay.com/photo/2017/10/30/23/34/lamp-2903830_960_720.jpg");
    background-size: cover;
    background-position: center;
}

.section {
    padding: 5rem 1rem;
    max-width: 1000px;
    margin: auto;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.section .title {
    text-align: center;
    letter-spacing: 4px;
}

.section .subtitle {
    text-align: center;
    font-style: italic;
    font-size: 1.20em;
    color: gray;
}

.content {
    text-indent: 2.5em;
    text-align: justify;
    font-size: 1.25em;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.item-card {
    text-align: center;
    margin-top: 1rem;
}

.item-card > img {
    border-radius: 8px;
    width: 100%;
}

.list-month {
    background-color: white;
    border: 1px solid light-gray;
    font-size: 1.25em;
    color: gray;
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
}

.list-month li {
    padding: 12px;
    border-bottom: 1px solid lightgray;
}

.tag {
    color: white;
    padding: 4px 8px;
    margin-left: 20px;
}

.danger {
    background-color: red;
}

.banner {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.container {
    padding: 0.25rem 1rem 1rem 1rem;
    background-color: white;
}

.country-card-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.country-card {
    color: black;
    background-position: center;
    border: 1px white solid;
    margin-top: 1rem;
}

.country-card img {
    height: 210px;
    width: 100%;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;  
}

.contact-container {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
}

.contact-container > div {
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px;
    font-size: 1.5em;
}

@media screen and (max-width: 700px){
    .card-container, .country-card-container {
        flex-direction: column;
    }

    .item-card {
        width: 60%;
    }
}

@media (min-width: 700px) {
    .country-card {
        width: 32%;
    }

    .item-card {
        width: 20%;
    }
}